code/__pycache__/
output/
Circumat_2021/
input/cm/
scratch/
notes/
input/NUTS_RG_60M_2010_4326_LEVL_2.shp/
*.zip
input/NUTS_BN_60M_2010_3035_LEVL_2.shp/
input/NUTS_BN_60M_2010_3857_LEVL_2.shp/
input/NUTS_BN_60M_2010_4326_LEVL_2.shp/
input/NUTS_LB_2010_3857_LEVL_2.shp/
input/ref-nuts-2010-60m.shp/
input/NUTS_RG_60M_2010_3857_LEVL_2.shp/
input/NUTS_RG_60M_2010_3035_LEVL_2.shp/
input/NUTS_RG_01M_2016_3035_LEVL_2.shp/
input/NUTS_LB_2010_3035_LEVL_2.shp/
input/NUTS_LB_2010_4326_LEVL_2.shp/
